:root{
    --h-100vh: 100vh;
    --h-90vh: 90vh;
    --h-60vh: 60vh;

    --h-20: 50px;

    --padding-top: 5px;
    --padding-bottom: 5px;


    --font-size-1: .8em;
    --font-size-2: 25px;
}

.h-100vh{
    height: var(--h-100vh);
}

.h-20{
    height: var(--h-20);
}

.margin-1px{margin: var(--margin-1px);}

.font-size-1{font-size: var(--font-size-1);}
.font-size-2{font-size: var(--font-size-2);}

.d-grid{display: grid;}

.w-30{width: 40px !important;}
.h-30{height: 40px !important;}


.grid-template-colums{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.bol-color:hover{
    
    background: rgb(46, 197, 8) !important;
}

.width-img{
    width: 30%;
}

.h-100{
    height: 10vh !important;
}

.p-10{
    padding: 10px;
}

#teste{
    font-size: 30px !important;
    color: rgb(189, 143, 248);
}


/* Animations */
.seta{
    width: 26px;
    height: 38px;
    animation: example 1s infinite alternate;
    animation-duration: .5s;
    
}

@keyframes example {
    from {
        transform: translateY(10px);
      }
      to {
        transform: translateY(0);
      }
}


@media only screen and (max-width: 600px) {
    
    /* Template Index */
    .container-numeros-1{
        width: 100% !important;
        /* height: 85vh; */
        padding: 0px !important;
        margin: 0px !important;
    }

    .container-numeros-2{
        width: 100% !important;
        /* height: 85vh !important; */
        padding: 0px !important;
        margin: 0px !important;
    }

    .container-numeros-3{
        padding: 0px !important;
        margin: 0px !important;
        background-color: #fff;
        width: 100% !important;
        /* height: 85vh !important; */

    }

    .container-fotos-2{
        padding-top: 20px;
    }

    .h2-fotos-da-moto{
        font-size: 1.2em;
    }

    .container-form-1{
        padding: 0px !important;
        margin: 0px !important;
        
    }

    .container-form-2{
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;

    }

    .style-input{
        width: 100% !important;
        height: 20px !important;
    }

    .carousel{
        height: 85vh !important;
    }

    .carousel-imagens{
        width: 100% !important;
        height: 50%;
    }

    .carousel-3{
        height: 100% !important;
        border-radius: 0px !important;
    }

    .carousel-4{
        height: 100% !important;
    }

    .img-carousel{
        width: 100% !important;
        margin: auto;
    }

    .img-carousel-1{
        width: 100% !important;
        margin: auto;
    }

    .img-carousel-2{
        width: 100% !important;
        margin: auto;
    }

    .img-carousel-3{
        width: 100% !important;
        margin-top: 30% !important;
    }

    .img-carousel-4{
        width: 100% !important;
        margin-top: 30% !important;
    }


    /* Template Success */
    
    .container-passos{
        padding: 0px !important;
    }
    .passo-a-passo{
        width: 100%;

    }

    .img-qrcode{
        width: 60% !important;
    }

    .button-passos{
        width: 60% !important;
        height: 40px !important;
        padding: 5px !important;
    }

    

}

@media only screen and (min-width: 601px) and (max-width: 1365) {
    
}




.button-color{
    background: #000;
}

.teste{
    background: #000;
}


.style-input{
    width: 100% !important;
    height: 40px !important;
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 18px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: .1px .1px 5px 1px lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.style-input:hover{
    box-shadow: .1px .1px 5px 1px gray;
}

.mask-phone{
    width: 100% !important;
    height: 40px !important;
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 18px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: .1px .1px 5px 1px lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.mask-phone:hover{
    box-shadow: .1px .1px 5px 1px gray;
}

.mask-cpf{
    width: 100% !important;
    height: 40px !important;
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 18px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: .1px .1px 5px 1px lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.mask-cpf:hover{
    box-shadow: .1px .1px 5px 1px gray;
}



.h2-fotos-da-moto{
    color: white; 
    margin-left: 20px; 
    margin-right: 20px; 
    text-shadow: 2px 2px 3px black;
    font-family: 'Courier New', Courier, monospace;"
}

