{% extends "base.html" %}

{% block head%}
<script>
    var lista = [];
    var maximo = 1000;
    function getNumber(num) {
        var x = num;
        lista.push(num);

        var qtd = $("#getNumber").length;
        if (qtd < maximo) {
            if ($.inArray(x, lista) == x) {
                console.log('igual!')

            } if ($.inArray(x, lista) != x) {
                var newRow = $("<button style=' box-shadow: .1px .1px 4px 3px rgb(29, 27, 27); font-weight: bold;  outline: none; border:None;' class='teste clicar rounded-circle w-30 h-30 bg-primary'> ");
                var cols = x;
                newRow.append(cols);
                $("#table").append(newRow);
                return false;
            }

        }
        
    }

    // Adicionar número selecionado no Campo Números
    var list = [];
    function getValue(num) {
        var x = document.value = num;
        if (list.length == 0) {
            var y = document.getElementById("numero").value += x;
        } else {
            var y = document.getElementById("numero").value += ',' + x;
        }
        list.push(num);
        console.log(num, list, y);
    }
    list.forEach(getValue);


</script>
{% endblock %}

{% block content %}
{% load static %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light style-navbar bg-dark text-white">
    <a class="navbar-brand" href="" style="color: white; font-family: serif; font-size: 22px;"> CB - 1000R </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#fotos-da-moto" onMouseOver="this.style.color='#D3D3D3'"
                    onMouseOut="this.style.color='#fff'" style="color: white; font-family: serif; font-size: 20px;">Ver
                    as fotos da moto <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>



<!-- CONTAINER GERAL -->

<div class="container-fluid d-grid p-0 grid-template-colums p-0 d-flex justify-content-center bg-light container-geral">

    <!-- CONTAINER DOS NÚMEROS -->
    <div class="container-fluid container-numeros-1  p-0" style="width: 80%;">

        <div class="container mt-3 pt-3" style="height: 12vh;">
            <div class="container text-center">
                <p style="font-family: 'Courier New', Courier, monospace; font-size: 20px;" >Número(s) Selecionado(s)!</p>
                <p id="a"></p>
            </div>
            <div class="container d-flex justify-content-center " id="getNumber">
                <table id="table"></table>
            </div>
        </div>
        
        <div>
            <table class="table table-striped table-light" style="font-family: 'Courier New', Courier, monospace;">
                <tr>
                    <td class="td">
                        <!-- Números pagos -->
                        Pagos:  {{pago}}
                    </td>
                    
                </tr>
                <tr>
                    <td class="td">
                        <!-- Números livres -->
                        Livres:  {{livre}}
                    </td>
                </tr>
                <tr>
                    <td class="td">
                        <!-- Números Reservados -->
                        Reservados: {{reservado}}
                    </td>
                </tr>
            </table>
            
            

        </div>
            
        
        <!-- Escolha os números -->
        <!------------------------------------------------->
        <h4 style="text-align: center; margin-top: 20px; color: black; font-family: 'Courier New', Courier, monospace;">
            Escolha o(s) número(s)! </h4>

        <div class="container-fluid px-2 my-3 font-size-1 cursor-pointer container-numeros-2 "
            style="height: 90vh; overflow-y: scroll;">
        <!------------------------------------------------->

            <div class="w-100 container-fluid p-3 container-numeros-3">
                
                
                {% for n in numeros %}
                
                    <!-- Verificar os números pagos -->
                    {% if n.pagamento == True and n.reservado == False %}

                    
                            <button id="number" class="teste clicar rounded-circle w-30 h-30 bg-danger" data-toggle="tooltip" data-placement="top" title="{{vendas.pg}}"
                                style="margin: 5px; box-shadow: .1px .1px 4px 3px rgb(29, 27, 27); font-weight: bold;  outline: none; border:None;"
                                type="button">
                                {{n.numero}}
                            </button>
                    {% endif %}
                    <!-------------------------------->

                    <!-- Verificar os números não pagos -->
                    {% if n.pagamento == False and n.reservado == False %}

                        <button id="number" class="teste clicar rounded-circle w-30 h-30 bg-success" data-toggle="tooltip" data-placement="top" title="Livre"
                            style="margin: 5px; box-shadow: .1px .1px 4px 3px rgb(29, 27, 27); font-weight: bold;  outline: none;"
                            type="button" onclick='
                                            var x = document.getElementById("number").value = {{n.numero}};
                                            getValue(x); getNumber(x);
                                        '>
                            {{n.numero}}
                        </button>

                    {% endif %}
                    <!------------------------------------>

                    <!-- Verificar os números reservados -->
                    {% if n.pagamento == False and n.reservado == True %}

                        <button id="number" class="teste clicar rounded-circle w-30 h-30 bg-warning" data-toggle="tooltip" data-placement="top" title="Reservado para: "
                            style="margin: 5px; box-shadow: .1px .1px 4px 3px rgb(29, 27, 27); font-weight: bold;  outline: none;"
                            type="button" onclick='
                                            var x = document.getElementById("number").value = {{n.numero}};
                                            getValue(x); getNumber(x);
                                        '>
                            {{n.numero}}
                        </button>

                    {% endif %}
                    <!------------------------------------->
                    

                {% endfor %}
            </div><br><br>
        </div>

        

        <div class="col text-center pt-5 w-100">
            <label for="name"
                style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Courier New', Courier, monospace;">
                Preencha o Formulário para Realizar seu Cadastro
            </label>
            <p id="p"></p>
        </div>

        <div class="col d-flex justify-content-center container-form-1"
            style="padding-left: 150px; padding-right: 150px;">
            <form action="{% url 'index' %}" method="POST" style="width:60%" class="container-form-2 p-5">
                {% csrf_token %}
                {{ pessoa }}
                <!-- {{ venda }} -->
                <button type="submit" class="btn btn-success"
                    style="width: 100%; margin-top: 30px; box-shadow: .1px .1px 3px 2px green;">
                    CONFIRMAR
                </button>
            </form>
        </div>
    </div>
</div>

<!-- CONTAINER DO CARROSSEL -->

<div class="container-fluid h-100vh p-0 carousel bg-light fotos-da-moto" id="fotos-da-moto">

    <div class="container-fluid p-0 d-flex justify-content-center align-items-center container-fotos-2"
        style="width: 100%;"><br>
        <div class="seta">
            <i class="fas fa-angle-double-down"
                style="font-size: 20px; color: white; text-shadow: .1px .1px 2px black;"></i>
        </div>
        <h3 class="h2-fotos-da-moto"> FOTOS DA MOTO </h3>
        <div class="seta">
            <i class="fas fa-angle-double-down"
                style="font-size: 20px; color: white; text-shadow: .1px .1px 2px black;"></i>
        </div>

    </div>
    <br>
    <div class="container-fluid p-0 carousel-imagens" style="width: 70%; border-radius: 15px;">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner carousel-3" style="border-radius: 15px;">

                <div class="container-fluid p-0 d-flex justify-content-center align-items-center carousel-4">

                    <div class="carousel-item active" style="height: 100%;">
                        <img class="d-block img-carousel" src="{% static 'img/videl-1.jpeg' %}" alt="First slide"
                            style="width: 40%; margin: auto; box-shadow: .5px .5px 5px 1px black;">
                    </div>
                    <div class="carousel-item" style="height: 100%;">
                        <img class="d-block img-carousel-1" src="{% static 'img/videl-2.jpeg' %}" alt="Second slide"
                            style="width: 40%; margin: auto; box-shadow: .5px .5px 5px 1px black;">
                    </div>
                    <div class="carousel-item" style="height: 100%;">
                        <img class="d-block img-carousel-2" src="{% static 'img/videl-3.jpeg' %}" alt="First slide"
                            style="width: 40%; margin: auto; box-shadow: .5px .5px 5px 1px black;">
                    </div>
                    <div class="carousel-item" style="height: 100%;">
                        <img class="d-block img-carousel-3" src="{% static 'img/videl-4.jpeg' %}" alt="First slide"
                            style="width: 71.2%; margin: auto; box-shadow: .5px .5px 5px 1px black;">
                    </div>
                    <div class="carousel-item" style="height: 100%;">
                        <img class="d-block img-carousel-4" src="{% static 'img/videl-5.jpeg' %}" alt="First slide"
                            style="width: 71.1%; margin: auto; box-shadow: .5px .5px 5px 1px black;">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<footer class="text-center bg-light p-10">
    <small>Copyright &copy; 2021, Kirk Silva. Todos os direitos reservados.</small>
</footer>

{% endblock %}