{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid d-flex justify-content-center align-items-center bg-light container-passos" style="height: 100vh; padding: 20%">

    <div class="container-fluid passo-a-passo" style="font-size: 1.2em; font-family: 'Courier New', Courier, monospace">

        <p>
            Verifique se seus dados estão corretos!
        </p>
        <p>
            {{dados}}
        </p>

        <p>
            O número escolhido foi pré-registrado em seu nome.
            Para concluir a compra, faça um pix para o QR-Code abaixo ou chave pix: <strong>picpay.kirk@gmail.com</strong>
        </p>
        <div class="d-flex justify-content-center" style="width: 100%;">
            <img class="img-qrcode" src="{% static 'img/qrcode.png' %}" alt="QrCode" style="width: 20%; margin: 15px;">
        </div>
        <p>
            Depois de realizar o pagamento, encaminhe o comprovante para o WhatsApp da rifa clicando <a href="https://api.whatsapp.com/send?phone=5563984333336" style="color: rgb(4, 0, 255);"> aqui </a>.
        </p>


        <div class="container-fluid p-2 d-flex justify-content-center">
            <a href="{% url 'index' %}" class="button-passos" style=" width: 50%; text-align: center; background: green; color: white; padding: 8px; border-radius: 5px; font-size: 18px; text-decoration: none;">
                Quero comprar mais!
            </a>
        </div>

    </div>
</div>
{% endblock content %}